doctype 5
html
  head
    title='Crash report'
    base(href='/')
    link(href='css/index.css', type="text/css", rel="stylesheet")
    link(href='favicon.png', type="image/png", rel="icon")
  body
    block content
